html {
  color: white;
  background-color: black;
}

h2 {
color: white;.
}

a:link {
    color: red;
}

/* visited link */
a:visited {
    color: red;
}

/* mouse over link */
a:hover {
    color: pink;
}

/* selected link */
a:active {
    color: red;
}
